@model pocedweb.Models.Article

<div class="item_content">
    <a class="item_link start_articleview" href="@Model.Url">
        <a class="title" href="@Model.Url">@Model.Title</a>
        <span class="thumb lazy-active" style="background-image: url('@Url.Action("Image", "Articles", new {Id = Model.Id}, Request.Url.Scheme)'); height: 154.72px"><></span>

        <img class="favicon lazy-active" src="http://news.bbc.co.uk/favicon.ico"/>

        <ul class="sub clearfix">
            <li class="original_url_container">
                <a class="original_url" href="@Model.Url" rel="nofollow noopener noreferrer" target="_blank" title="View Original">@Model.Title</a>
            </li>
        </ul>
    </a>
</div>

